*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#0f1115;
  color:#e6e6e6;
}

.container{
  width:90%;
  max-width:1150px;
  margin:auto;
  padding:70px 0;
}

.header{
  height: 120px;
  background:#151821;
  position:sticky;
  top:0;
  z-index:10;
  font-size: large;
  font-family:sans-serif;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 0;
}

.nav a{
  color:#e6e6e6;
  text-decoration:none;
  margin-left:25px;
}

.logo{
  color:#00e0a4;
  font-weight:700;
}

.hero{
  height:90vh;
  display:flex;
  align-items:center;
  text-align:center;
  background:linear-gradient(135deg,#111,#0f2027);
}

.hero h2{
  font-size:3rem;
  margin-bottom:20px;
}

.btn{
  display:inline-block;
  background:#00e0a4;
  color:#000;
  padding:14px 28px;
  border-radius:8px;
  text-decoration:none;
  font-weight:600;
  margin-top:20px;
  transition:.3s;
}

.btn:hover{
  transform:translateY(-3px);
}

.section-title{
  text-align:center;
  font-size:2.2rem;
  margin-bottom:40px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:30px;
}

.card{
  background:#1a1f29;
  padding:30px;
  border-radius:12px;
  text-align:center;
  position:relative;
  transition:.3s;
}

.card:hover{
  transform:translateY(-6px);
}

.price{
  font-size:30px;
  color:#00e0a4;
  margin:15px 0;
}

.highlight{
  border:2px solid #00e0a4;
}

.badge{
  position:absolute;
  top:-12px;
  right:15px;
  background:#00e0a4;
  color:black;
  padding:5px 10px;
  font-size:12px;
  border-radius:6px;
}

ul{
  list-style:none;
  margin:20px 0;
}

.testimonials{
  background:#151821;
}

.reviews{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.review{
  background:#1a1f29;
  padding:25px;
  border-radius:10px;
  font-size:14px;
}

.cta{
  text-align:center;
}

footer{
  background:#151821;
  text-align:center;
  padding:20px;
  font-size:14px;
}

.coming{
  text-align:center;
  opacity:.7;
}

.logo img {
  height: 100px;
  width: 100px;
  position:sticky;
}
